.idea/
test.py
alembic.ini
venv/
__pycache__/
*.pyc
img/
test_file.py
.env
cloud.ini
app/
.vscode/
*.pyc
*.pyo
*.pyd
test.py
celerybeat*
test_*
*_test.py
*.log
.pytest_cache/
celerybeat-schedule
celerybeat.pid
celerybeat.log
celerybeat.log.*
*.session
